@font-face {
    font-family: "poppings";
    src: url("../lib/fonts/poppings/Poppins-Regular.ttf");
}

@font-face {
    font-family: "roboto";
    src: url("../lib/fonts/roboto/Roboto-Regular.ttf");
}

body {
    font-family: roboto;
}

#body-container {
    margin-left: 2% !important;
    margin-right: 2% !important;
    width: 95%;
}

#main-nav .nav-item {
    border-radius: 10px;
    transition-property: color, background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

#main-nav .nav-item:hover, #main-nav .nav-item:focus {
    background-color: #10a7bd;
}

.card {
    border: none;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.05);
    margin-bottom: 3%;
}

#navbar.container {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
}